# Configuration file for pki-gen.sh

# Two-letter country code (ISO 3166)
country_name="NO"

# State or province
state_name="Vestland"

# Organization name (O)
organization_name="Foobar Ltd"

# Organization unit (OU)
ou_name="IT department"

# Common Name / Primary FQDN
common_name="enterprise-vip-fqdn.foo.bar"

# Organization URL
org_url="https://foo.bar"
org_email="foo@bar.baz"

# different keyusage
key_usage_post211="digitalSignature, keyEncipherment"
key_usage_pre211="nonRepudiation, digitalSignature, keyEncipherment"

# Example for DNAC post 2.1.1
alt_names_post211=(
DNS.1=${common_name}
DNS.2=pnpserver.foo.bar
DNS.3=pnpserver.foo.foo.bar
)

# Example for DNAC pre 2.1.1
alt_names_pre211=(
DNS.1=${common_name}
DNS.2=enterprise-ip-dnac01.foo.bar
DNS.3=enterprise-ip-dnac02.foo.bar
DNS.4=enterprise-ip-dnac03.foo.bar
DNS.5=pnpserver.foo.bar
DNS.6=pnpserver.foo.foo.bar
# enterprise-vip-ip
IP.1=10.1.1.10
# enterprise-node1-ip
IP.2=10.1.1.11
# enterprise-node2-ip
IP.3=10.1.1.12
# enterprise-node3-ip
IP.4=10.1.1.13
# cluster-vip-ip
IP.5=10.2.2.10
# cluster-node1-ip
IP.6=10.2.2.11
# cluster-node2-ip
IP.7=10.2.2.12
# cluster-node3-ip
IP.8=10.2.2.13
)
